<main id="main" class="main">

  <div class="pagetitle">
    <h1>Bills</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item active">Bills</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


  <section class="section">
    <div class="row">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-8"><h2> <b>Bills</b></h2></div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Id</th>
              <th>Customer</th>
              <th>Date</th>
              <th>Payed</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let b of response.content " class="billInfo" (click)="openInformationModal(b)">
              <td>{{ b.id }}</td>
              <td>{{ b.customer.name }}</td>
              <td>{{ b.billingDate | date: 'dd/MM/yy, à HH:mm'}}</td>
              <td>{{ b.totalToPay}} <b>Dh</b></td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between">
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Size: {{options.size}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><button class="dropdown-item" type="button" (click)="size(5)">5</button></li>
                <li><button class="dropdown-item" type="button" (click)="size(10)">10</button></li>
                <li><button class="dropdown-item" type="button" (click)="size(20)">20</button></li>
                <li><button class="dropdown-item" type="button" (click)="size(50)">50</button></li>
                <li><button class="dropdown-item" type="button" (click)="size(100)">100</button></li>
              </ul>
            </div>
            <div>
              <nav *ngIf="numbers.length > 1">
                <ul class="pagination justify-content-center max-visible-5">
                  <li id="first" class="page-item" [ngClass]="{ 'disabled': options.page === 1 }">
                    <a class="page-link" href="#" (click)="to(1, $event)">First</a>
                  </li>
                  <li id="prev" class="page-item" [ngClass]="{ 'disabled': options.page === 1 }">
                    <a class="page-link" href="#" (click)="prev($event)">Previous</a>
                  </li>
                  <ng-container *ngIf="response">
                    <li class="page-item" *ngFor="let number of numbers" [ngClass]="{ 'active': options.page === number }">
                      <a class="page-link" href="#" (click)="to(number, $event)">{{number}}</a>
                    </li>
                  </ng-container>
                  <li id="next" class="page-item" [ngClass]="{ 'disabled': options.page === response.totalPages }">
                    <a class="page-link" href="#" (click)="next($event)" disabled="true">Next</a>
                  </li>
                  <li id="last" class="page-item" [ngClass]="{ 'disabled': options.page === response.totalPages }">
                    <a class="page-link" href="#" (click)="to(response.totalPages, $event)">Last</a>
                  </li>
                </ul>
              </nav>
            </div>

          </div>

        </div>
      </div>
    </div>

  </section>

</main>
